<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title><h1>User Information</h1></mat-card-title>
  </mat-card-header>
  <mat-card class="inside-card">
    <mat-card-header class="card-header" [ngStyle]="{backgroundImage: 'url(http://localhost:3000/cover)'}" style="background-position: center;position: relative;" [style.backgroundSize]="'cover'"> 
      <label for="background-input-file">
        <div class="icon-wrapper-one">
          <input type="file" id="background-input-file" accept="image/*" (change)="onCoverChange($event)"/>
          <mat-icon class="icon" fontIcon="add_a_photo"></mat-icon>
        </div>
      </label>
    </mat-card-header>

    <mat-card-content style="min-height: 400px;">
          <div class="avatar-container">
            <div class="image-container"
            [ngStyle]="{backgroundImage: 'url(http://localhost:3000/image)'}">
            </div>
        
            <ng-template #placeholder>
                <div class="image-container avatar-placeholder">
                </div>
            </ng-template>
        
            <label for="avatar-input-file">
                <div class="icon-wrapper">
                    <input type="file" id="avatar-input-file" name="image" accept="image/*" (change)="onFileChange($event)" />
                    <mat-icon class="icon" fontIcon="add_a_photo"></mat-icon>
                </div>
            </label>
        </div>

        <div style="display: flex; align-items: flex-start; float: right; width: 60%;">
          <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
            <mat-label>
              Username 
            </mat-label>
            <input matInput type="text" [(ngModel)]="payload.username">
        </mat-form-field>
        <mat-form-field appearance="outline"  style="margin: 20px; width: 100%;">
          <mat-label>
              Nickname 
          </mat-label>
          <input matInput type="text" [(ngModel)]="payload.nickname">
      </mat-form-field>
        </div>

        <div style="display: flex; align-items: flex-start; float: right; width: 60%;">
          <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
            <mat-label>
              First Name 
            </mat-label>
            <input matInput type="text" [(ngModel)]="payload.firstname">
        </mat-form-field>
        <mat-form-field appearance="outline"  style="margin: 20px; width: 100%;">
          <mat-label>
              Last Name 
          </mat-label>
          <input matInput type="text" [(ngModel)]="payload.lastname">
      </mat-form-field>
        </div>

        <div style="display: flex; align-items: flex-start; float: right; width: 60%;">
          <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
            <mat-label>
              Position 
            </mat-label>
            <mat-select [(value)]="payload.position">
              <mat-option *ngFor="let position of positionList" [value]="position">{{position}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline"  style="margin: 20px; width: 100%;">
          <mat-label>
            Nationality
          </mat-label>
          <input matInput type="text" [(ngModel)]="payload.nationality">
      </mat-form-field>
        </div>

        <div style="display: flex; align-items: flex-start; float: right; width: 60%;">
          <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
            <mat-label>
              Telephone Number 
            </mat-label>
            <input matInput type="text" [(ngModel)]="payload.tel">
        </mat-form-field>
        <mat-form-field appearance="outline"  style="margin: 20px; width: 100%;">
          <mat-label>
              Starting Date 
          </mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="payload.date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
        </div>
        
      
    </mat-card-content>
  </mat-card>
</mat-card>

<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title><h1>Contact Information</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="display: flex; align-items: flex-start; float: right; width: 60%;">
      <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Address
        </mat-label>
        <input matInput type="text" [(ngModel)]="payload.address">
    </mat-form-field>
    </div>
    <div style="display: flex; align-items: flex-start; float: right; width: 60%;">
      <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Sub District 
        </mat-label>
        <mat-select [(value)]="payload.subdistrict">
          <mat-option *ngFor="let sub of subList" [value]="sub">{{sub}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          District 
        </mat-label>
        <mat-select [(value)]="payload.district">
          <mat-option *ngFor="let district of districtList" [value]="district">{{district}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Province 
        </mat-label>
        <mat-select [(value)]="payload.province">
          <mat-option *ngFor="let province of provinceList" [value]="province">{{province}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Postal Code 
        </mat-label>
        <mat-select [(value)]="payload.postcode">
          <mat-option *ngFor="let postcode of postList" [value]="postcode">{{postcode}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="display: flex; align-items: flex-start; float: right; width: 60%;">
      <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Facebook
        </mat-label>
        <input matInput type="text" [(ngModel)]="payload.facebook">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Line Id
        </mat-label>
        <input matInput type="text" [(ngModel)]="payload.line">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Instagram
        </mat-label>
        <input matInput type="text" [(ngModel)]="payload.insta">
    </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title><h1>Educational Information</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-fab extended color="primary" style="margin: 20px;" (click)="addEducation()">
      <mat-icon>library_add</mat-icon>
      ADD EDUCATION
    </button>
    <div *ngFor="let education of educationList;let i = index" style="display: flex; align-items: center; width: 40%;">
      <div style="margin: 20px;">{{education.year}}</div>
      <div>{{education.place}}</div>
      <button mat-icon-button (click)="deleteEdu(i)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
    <div style="display: flex; align-items: center; width: 40%;">
      <mat-form-field appearance="outline" style="margin: 20px; width: 50%;">
        <mat-label>
          Year
        </mat-label>
        <input matInput type="text" [(ngModel)]="education.year">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Place
        </mat-label>
        <input matInput type="text" [(ngModel)]="education.place">
    </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title><h1>Experience Information</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-fab extended color="primary" style="margin: 20px;" (click)="addExperience()">
      <mat-icon>library_add</mat-icon>
      ADD EXPERIENCE
    </button>
    <div *ngFor="let exp of experienceList; let i = index" style="display: flex; align-items: center; width: 40%;">
      <div style="margin: 20px;">{{exp}}</div>
      <button mat-icon-button (click)="deleteExp(i)">
      <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
    <div style="display: flex; align-items: center; width: 40%;">
      <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Experience
        </mat-label>
        <input matInput type="text" [(ngModel)]="experience">
    </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title><h1>Skill Information</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-fab extended color="primary" style="margin: 20px;" (click)="addSkill()">
      <mat-icon>library_add</mat-icon>
      ADD EDUCATION
    </button>
    <div *ngFor="let skill of skillList;let i = index" style="display: flex; align-items: center; width: 40%;">
      <div style="margin: 20px;">{{skill.name}}</div>
      <div>{{skill.level}}</div>
      <mat-progress-bar mode="determinate" [value]="skill.level*10" style="margin: 20px; width: 30%;"></mat-progress-bar>
      <button mat-icon-button (click)="deleteSkill(i)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
    <div style="display: flex; align-items: center; width: 40%;">
      <mat-form-field appearance="outline" style="margin: 20px; width: 100%;">
        <mat-label>
          Skill
        </mat-label>
        <input matInput type="text" [(ngModel)]="skill.name">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin: 20px; width: 50%;">
        <mat-label>
          Level
        </mat-label>
        <mat-select [(value)]="skill.level">
          <mat-option *ngFor="let level of [1,2,3,4,5,6,7,8,9,10]" [value]="level">{{level}}</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title><h1>Interest Information</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="align-items: center; width: 40%;">
      <button mat-fab extended color="primary" style="margin: 20px;" (click)="addInterest()">
        <mat-icon>library_add</mat-icon>
        ADD INTEREST
      </button>
    </div>
    <!-- <mat-chip-grid #chipGrid > -->
      <mat-chip-row *ngFor="let interest of interestList; let i = index" style="margin: 20px;" (removed)="deleteInterest(i)">
        {{interest}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    <!-- </mat-chip-grid> -->
  </mat-card-content>
</mat-card>

<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title><h1>Guild Information</h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="align-items: center; width: 40%;">
      <button mat-fab extended color="primary" style="margin: 20px;" (click)="addGuild()">
        <mat-icon>library_add</mat-icon>
        ADD GUILD
      </button>
    </div>
    <!-- <mat-chip-grid #chipGrid> -->
      <mat-chip-row *ngFor="let guild of guildList; let i = index" style="margin: 20px;" (removed)="deleteGuild(i)">
        {{guild}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    <!-- </mat-chip-grid> -->
  </mat-card-content>
</mat-card>

<div style="margin: 20px; right: 0;bottom: 0; position: fixed;">
  <!-- <button mat-raised-button color="primary" (click)="submit()">Submit</button> -->
  <button mat-fab extended color="primary" (click)="submit()">
    <mat-icon>check_circle_outline</mat-icon>
    Submit
  </button>
</div>